<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954528532477-e1526ai5f66u457iulhmt9ms0lkcbnht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954528532477-e1526ai5f66u457iulhmt9ms0lkcbnht</string>
	<key>API_KEY</key>
	<string>AIzaSyAaR1d8kS9np4SK0BKUDApyE8cyFiPlkbY</string>
	<key>GCM_SENDER_ID</key>
	<string>954528532477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>artem.syrytsia.TasksManager</string>
	<key>PROJECT_ID</key>
	<string>fir-d7839</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-d7839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954528532477:ios:c8afd527e366d98a4abb94</string>
	<key>DATABASE_URL</key>
	<string>https://fir-d7839.firebaseio.com</string>
</dict>
</plist>